.dicount-btn {
  background-color: #84c225;
  color: white;
  padding: 4px 13px;
  border-radius: 6px;
  font-weight: 500;
}

.view-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  background-color: #d7dfca; /* solid background */
  color: #6da41d; /* white text */
  border: none; /* remove border */

  padding: 10px 16px;
  font-weight: 600;
  border-radius: 6px;

  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.view-btn:hover {
  background-color: #6da41d;
  color: white;
}

.view-btn .btn-arrow {
  width: 18px;
  height: auto;
  filter: brightness(0) saturate(100%) invert(54%) sepia(43%) saturate(628%)
    hue-rotate(53deg) brightness(89%) contrast(88%);
}

.view-btn:hover .btn-arrow {
  filter: brightness(0) invert(1); /* makes arrow white on hover */
}
